html{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    height: 100%;
}

header *{
    display:inline;
    margin:0;
    padding:0;
}

header{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 150px;
}
h1{
    font-size: 34px;
}
.logo_kayak{
    width: 160;
    height: 60px;
}

a{
    text-decoration: none;
}

.menu li {
	
	list-style: none;
	margin: 10px;
    text-decoration: none;
}

.menu li a{
    
    text-decoration: none;
    color:#BFBCC4;
}

.menu li a:hover{
    color:white;
}

.menu{
    display:flex;
    padding-top: 15px;
}

.menu li:nth-child(8){
    justify-content: flex-end;
}

.top{
    color:white;
    margin:0;
    padding:0;
    min-height: 560px;
}

button{
    border:none;
    background-color: #FF690F;
    color:white;
    font-size: 20px;
    font-weight: lighter;
    padding:13px 15px 17px 15px;
    border-radius: 2px;
    margin:0;
}
button:hover{
    background-color: #d15300;
    cursor: pointer;
}

.bg {
    height: 82%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -999;
    background-size: cover;
    filter: brightness(0.4);
}

.search{
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:100%;
}
.titre{
    width: 100%;
    display: flex;
    text-align: left;
    padding-left:16%;
}

.description{
    width:100%;
    text-align: center;
}

.bloc_description{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #FAFAFC;
}

h4{
    font-weight: lighter;
}

.logos{
    width:100px;
    height:60px;
}
.sponsor_pics{
    display: flex;
    flex-direction: row;
}
#expedia{
    height: 60px;
    padding-top: 0px;
    padding-left: 10px;
}
form{
    
}
.form1{
    height:50px;
    border-radius: 0px;
    border-style: none;
    width: 300px;
    padding-left: 5px;
}
.input{
    display: flex;
    flex-wrap: nowrap;
}
.options{
    height:52px;
    border-radius: 0px;
    border-style: none;
    margin:0;
    margin-left: 0px;
    background-color: white;
    width:23%;
}
.explore{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 25px;
    background-color: #FAFAFC;
}
block_bottom1{
    background-color: #FAFAFC;
}
.block2_title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 46.8px;
}
.block2_title h2{
    width:100%;
    text-align: center;
    color:#212121;

}
.block2_title p{
    color:#8B8EB4;
    font-size: 20px;
    margin-top: 0;
}
#list2 a{
    color:#8B8EB4;
}
.list25{
    color:black;
}
.menu2 ul li {
    padding-right: 30px;
}
.menu2 ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding:0;
    margin:0;
    padding-top: 30px;
}
#list2 {
    padding-left: 20px;
}

.fade:hover {
   opacity: 0.5;
   transition: opacity .05s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade{
    cursor: pointer;
    opacity: 1;
}

.block_img1 {
    padding-left: 0;
    display: flex;
    flex-direction: row;
}
.block_img11 a *{
     width: 320px;
     height: 270px;
}
#bk{
    width: 650px;
    height: auto;
}
.block_img11{
    display:flex;
    flex-wrap: wrap;
}
.block_img12 a *{
    width: 345px;
    height: 725px;
}
.block_img1, .block_img2, .block_img3{
    padding-left: 100px;
    padding-right: 100px;
}
figure img{
    padding: 5px 5px 5px 5px;
}

#img1{
    width: auto;
    height: 500px;
    
}
#paris{
    display:flex;
    justify-content: center;
}
.block_img21{
    display:flex;
    flex-direction: row;
}
#mar{
    width: 350px;
    height: 270px;
}
#lon{
    width: 650px;
    height: 270px;
}
.block_img2{
    padding-right: 90px;
}
.block_img22 a img{
    display: flex;
    flex-wrap: nowrap;
    width: 327px;
    height: 270px;
}
.block_img31{
    display: flex;
}
#la{
    width: 350px;
    height: 270px;
}
#nice{
    width: 650px;
    height: 270px;
}
.images figure img{
    border-radius: 3px;
    display:inline;
}
.block_img32{
    display:flex;
}
.block_img32 a img{
    display: flex;
    flex-wrap: nowrap;
    width: 330px;
    height: 270px;
}
ul{
    list-style: none;
    padding-left:0;
}

.footer1{
    display:flex;
    background-color: #212121;
    color:white;
    justify-content: space-around;
    font-size: 12px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.country{
    background-color: #212121;
    color:white;
    border-style: none;
    border-radius: 3px;
    border: 1px solid #545456;
}
.footer2{
    background-color: #1A1A1A;
    color:#ACA28E;
    text-decoration: none;
    padding-bottom: 42px;
}
.footer2 p{
    color:#8B8B8E;
    font-size: 11px;
    text-align: center;
    padding: 0px 100px 0px 100px;
}
h6{
    margin:0;
    color:#ACA28E;
    font-size: 12px;
}
.footer2_title{
    display: flex;
    justify-content: center;
    padding-top: 42px;
    padding-bottom: 19px;
    font-size:12px;
}
.footer2_title *{
    padding-right: 19px;
    color:#8B8B8E;
}
.tools h2{
    display: flex;
    padding-top: 40px;
    padding-bottom: 50px;
    justify-content: center;
}
.t2{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}
.tools_choice{
    width: 200px;
    padding: 50px 30px 50px 30px;
    border: 1px solid #E1E1E5;
    border-radius: 6px;
}
.tools_choice:hover{
    box-shadow: 0px 0px 10px  #888888;
    
}
.tools_choice h4{
    font-weight: bold;
    font-size: 1.5em;
    color:#212121;
}
.tools_choice p{
    color:#8B8B8E;
}
.t2{
    padding-bottom: 40px;
}
.paris{
    text-align: center;
}